

body {
  min-width: 700px;
  background: #FBFEFF;/*背景色*/
}

/** リンク系 */
a {
  cursor:pointer;
  text-decoration: underline;
  color: #0000FF;
}

/** 処理系 */
a.method {
  color: #42b983;
}


#main {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}

#header {
  text-align: right;
  margin-bottom: 5px;
  color: #2c3e50;
}

div.maintitle {
  position: relative;
  width:160px;
  padding: 5px 5px 5px 42px;
  background: #77c3df;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: -10px;
  margin-bottom: 20px;
  line-height: 1.3;
  z-index:-1;
}

div.maintitle:before {
  position: absolute;
  content: '';
  left: -2px;
  top: -2px;
  border: none;
  border-left: solid 40px white;
  border-bottom: solid 79px transparent;
  z-index:-2
}

/*
p.maintitle {
  font-size: 20px;
  color: white;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  background-color: #77c3df;
}
p.maintitle::before,
p.maintitle::after {
  content: '';
  position: absolute;
}
p.maintitle::before {
  top: 100%;
  left: 0;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: #ccc;
}
p.maintitle::after {
  top: 0;
  right: 0;
  z-index: 2;
  border-width: 25px 20px;
  border-style: solid;
  border-color: transparent;
  border-right-color: #fff;
}
*/


input.input_title {
  width: 500px;
}

tr.footmark_row {
  padding:0px;
  margin:0px;
  height:50px;
}

td.footmark_time {
  padding:0px;
  margin:0px;
  width: 70px;
  table-layout: fixed;
}

td.footmark_favicon {
  padding:0px;
  margin:0px;
  width: 40px;
  table-layout: fixed;
}

td.footmark_title {
  padding:0px;
  margin:0px;
  width: 510px;
  table-layout: fixed;
  text-align: left;

}

td.footmark_stamp {
  padding:0px;
  margin:0px;
  width: 40px;
  table-layout: fixed;
}

p.datetitle {
  font-weight: bold;
  font-size: 120%;
}

div.todaybox {
    padding: 0.5em 1em;
    margin: 2em 0;
/*    color: #00BCD4; */
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}

div.daybox {
    padding: 0.5em 1em;
    margin: 2em 0;
/*    color: #00BCD4; */
    background: #FBFEFF;/*背景色*/
    border-top: solid 2px #1dc1d6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32);/*影*/
}

p.link1 {
  padding:0px;
  margin:0px;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 100%;
}


p.link2 {
  padding:0px;
  margin:0px;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 120%;
}


p.link3 {
  padding:0px;
  margin:0px;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 140%;
}


p.link4 {
  padding:0px;
  margin:0px;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 160%;
}

/**
p.link5 {
  padding:0px;
  margin:0px;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 200%;
}
*/

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}
